<form action="/api/v1/upload/document" method="post" enctype="multipart/form-data">
    <div>
        <label for="email">Doc File (single upload):</label>
        <br />
        <input type="file" id="document" name="document" />
    </div>
    <button type="submit">Upload Now</button>
</form>
<br>
<form action="/api/v1/upload/documents" method="post" enctype="multipart/form-data">
    <div>
        <label for="email">Doc File (multiple upload):</label>
        <br />
        <input type="file" id="document" name="document" multiple />
    </div>
    <button type="submit">Upload Now</button>
</form>