<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uploaded <Video></Video></title>
  </head>
  <body>
    <h1>Uploaded Video</h1>

    <!-- single upload -->
    <!-- <video controls>
      <source src="<%= video_url %>" type="video/mp4">
    </video> -->

    <!-- multiple upload -->
    <video controls>
      <source src="<%= video_url %>" type="video/mp4">
    </video>
  </body>
</html>
