<form
  action="/api/v1/upload/video"
  method="post"
  enctype="multipart/form-data"
>
  <div>
    <label for="email">Video File (single upload):</label>
    <br />
    <input type="file" id="video" name="video" accept="video/*" />
  </div>
  <button type="submit">Upload Now</button>
</form>
<br>
<form
  action="/api/v1/upload/videos"
  method="post"
  enctype="multipart/form-data"
>
  <div>
    <label for="email">Video File (multiple upload):</label>
    <br />
    <input type="file" id="video" name="video" accept="video/*" multiple />
  </div>
  <button type="submit">Upload Now</button>
</form>

